<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ai.leqi.lib_share_center">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.ShareCenterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <!--微信相关-->
        <activity
            android:name=".ui.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity-alias
            android:name="${APPLICATION_ID}.wxapi.WXEntryActivity"
            android:exported="true"
            android:targetActivity=".ui.WXEntryActivity" />

    </application>

</manifest>